/* styles.css */
body {
    background-image: url("download.gif"); /* Path to your local GIF file */
    background-size: cover; /* This ensures the background covers the entire page */
    background-repeat: no-repeat; /* Prevents the background from repeating */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    color: white; /* Ensures text is visible */
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -75px;
    border: 5px solid #000000;
}



p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #cccccc;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.icons i {
    font-size: 2rem;
    margin: 0 1rem;
    transition: transform 0.3s ease-in-out;
    color: #f1ebef;
}

.icons i:hover {
    transform: scale(1.2);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    color: #cccccc;
    flex-grow: 1;
}

.nav a {
    color: #ccc;
    text-decoration: none;
    margin: 0 20px;
    position: relative;
}

.nav a:hover {
    color: #fff;
}




